/* all */

.w-nav {
	background: none;
}

a.w-nav-link {
	color: #b2b2b2;
}

a.blogmorearticlesbtn {
	width: 100%;
}

.blogpuffbtndiv {
	margin-left: 55px;
}

.articletoolbardate {
	width: 150px;
}

a.toolssharebtn {
	color: #fff;
}

a.w-nav-link.w--current {
	color: #fff;
}

.sectionarticlecontent img {
	max-width: 90%;
}

.aligncenter {
	text-align: center;
}

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    figure.wp-caption {
		max-width: 400px;
    }

    .blogpuffbtndiv {
		margin-top: 170px;
	}

}