/* all */

.w-nav {
	background: none;
}

a.w-nav-link {
	color: #b2b2b2;
}

a.blogmorearticlesbtn {
	width: 100%;
}

.blogpuffbtndiv {
	margin-left: 55px;
}

.articletoolbardate {
	width: 150px;
}

a.toolssharebtn {
	color: #fff;
}

a.w-nav-link.w--current {
	color: #fff;
}